<div class="groups-index">
  <h2>Todos los grupos</h2>
  <small>¿El grupo de tus sueños aún no existe? <%= link_to "¡Créalo tú mismo!", "/groups/new" %> </small>

  <div class="card-grid">
    <% @groups.each do |group| %>
      <div class="card">
      <% if group.profile_picture.attached? %>
        <%= image_tag group.profile_picture, class: "card-img-top" %>
      <% else %>
        <%= image_tag "default_group.png", size: "100x100", alt: "Default Picture",  class: "card-img-top"%>
      <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= group.name %></h5>
          <p class="card-text" align="left"><%= group.description %></p>
        </div>
        <% if group.user_id == current_user.id %>
          <div class="card-footer">
            <%= link_to "Editar", "/groups/#{group.id}/edit", class: "btn btn-primary half-width-form" %>
            <%= link_to "Ver grupo", "/groups/#{group.id}", class: "btn btn-secondary half-width-form" %>
          </div>
        <%else%>
          <div class="card-footer">
            <% if !is_group_member(group) %>
              <%= link_to "Solicitar unirse", "/groups/#{group.id}/new_request", class: "btn btn-primary half-width-form" %>
            <% end %>
            <%= link_to "Ver grupo", "/groups/#{group.id}", class: "btn btn-secondary half-width-form" %>
          </div>        
        <%end%>
      </div>
    <% end %>
  </div>
</div>





