<div class="groups">
  <div class="admin_in">

    <h2>Grupos creados por mí</h2>
    <div class="card-grid">
        <% @groups.where(user_id: current_user.id).each do |group| %>
          <div class="card">
            <div class="card-body">
             <h5 class="card-title"><%= group.name %></h5>
              <p class="card-text"><%= group.description %></p>
            </div>
            <div class="card-footer">
              <%= link_to "Editar", "/groups/#{group.id}/edit", class: "btn btn-primary half-width-form" %>
              <%= link_to "Ver grupo", "/groups/#{group.id}", class: "btn btn-secondary half-width-form" %>
              <%# <%= link_to "Ver chat", "/groups/#{group.id}/chat", class: "btn btn-secondary half-width-form" %>
            </div>  
          </div>

        <% end %>
    </div>
  </div>


  <hr>


  <div class="member_in">
    <h2>Grupos a los que pertenezco</h2>
    <div class="card-grid">
    <% @groups.joins(:users).where.not(groups: { user_id: current_user.id }).each do |group| %>
          <div class="card">
            <div class="card-body">
             <h5 class="card-title"><%= group.name %></h5>
              <p class="card-text"><%= group.description %></p>
            </div>
            <div class="card-footer">
              <%= link_to "Editar", "/groups/#{group.id}/edit", class: "btn btn-primary half-width-form" %>
              <%= link_to "Ver grupo", "/groups/#{group.id}", class: "btn btn-secondary half-width-form" %>
              <%= link_to "Ver chat del grupo", "/groups/#{group.id}/chat", class: "btn btn-secondary half-width-form" %>
            </div>  
          </div>

        <% end %>
    </div>
  </div>
</div>
