
<div class="container mt-2 bg-light">
    <div id="chat-room-div">
        <h2>Mensajes del grupo <%= Group.find(params[:group_id]).name %></h2>
        <div id="messages-list">
        </div>

        <hr>
        <div>
            <div class="fields">
                <%= form_with(url: '/messages', model: @message, local: true, scope: :message) do |f| %>

                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :group_id, value: params[:group_id] %>
                
                <div class="group-form">
                    <div class="field">
                        <%= f.text_field :content, placeholder: "" %>
                        <%= f.submit "Enviar mensaje", class: "btn btn-primary" %>
                    </div>
                </div>

                <% end %>
            </div>
        </div>
    </div>    
</div>

<%= javascript_include_tag "chat_room.js" %>