<h1>Bienvenido a DCColonizacion</h1>

<%if user_signed_in? %>
    <p>Bienvenido <%= current_user.name %></p>
    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
    <%= link_to "Crear grupo", new_group_path %>
    <%= link_to "Ver grupos", groups_path %>



<% else %>
    <%= link_to "Iniciar sesión", new_user_session_path %>
    <%= link_to "Registrarse", new_user_registration_path %>
<% end %>
