<h2>Registro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :name, "Nombre de usuario" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :profile_picture, "Foto de perfil (opcional)" %><br />
    <%= f.file_field :profile_picture %>
  </div>

  <div class="field">
    <%= f.label :birth_date, "Fecha de nacimiento" %><br />
    <%= f.date_field :birth_date %>
  </div>

  <div class="field">
    <%= f.label :password, "Contraseña" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres cómo mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,"Confirmar Contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Crear cuenta" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
