<div class="groups-index">
  <h2>Todas las actividades</h2>
  <small> Estás viendo todas las actividades de los grupos a los que perteneces.</small> <br>
  <small>¿Quieres crear una actividad? ¡Puedes crearla en tus grupos! <%= link_to "¡Crea una nueva!", "/groups/mine" %> </small>
  
  <div class="search-bar">
    <%= form_with url: search_activity_index_path(), method: :get, local: true do |form| %>
    <div class="container d-flex" style="width: 50%; margin-top:2vh;">
      <%= form.text_field :keywords, placeholder: "Buscar actividades", class: "form-control" %>
      <%= form.submit "Buscar", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
  
  <div class="card-grid">
    <% # <% activities = Activity.all %>
    <% activities = @activities.present? ? @activities : Activity.all %>
    <% activities.each do |activity| %> 
      <% if is_group_member?(activity) %>
        <div class="card">
          <% if activity.pictures.attached? %>
            <%= image_tag url_for(activity.pictures.first), class: "card-img-top" %>
          <% else %>
            <%= image_tag "default_group.png", size: "100x100", alt: "Default Picture",  class: "card-img-top"%>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= activity.name %></h5>
            <%=  I18n.l(activity.date, format: :long).mb_chars.capitalize.to_s %>
          </div>
          <div class="card-footer">
            <%= link_to "Ver actividad", activity_path(activity), class: "btn btn-primary half-width-form" %>
            <%= link_to "Ver grupo", group_path(activity.group), class: "btn btn-secondary half-width-form" %>
          </div>        
        </div>
    
        <% end %>
    <% end %>
  </div>
</div>
  