<%#<h1>Activity#new</h1>
<p>Find me in app/views/activity/new.html.erb</p> %>

<h1>Crear Actividad<h1>

<%# code from https://stackoverflow.com/a/52470594 %>
<% flash.each do |name, messages| %>
  <div class="alert alert-<%= name %>">
    <ul>
    <% if messages.is_a?(Array) %>
      <% messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @activity, local: true,  url: '/activity/') do |f| %>
    <%# a %>
    <%# <%= f.select :group_id, current_user.groups.map { |g| [g.name, g.id] }, { include_blank: 'Seleccione un grupo' } %> <%# %>
    <!-- Por hacer: Tabla relacion entre Grupos y Users-->
    <%#Category.all.map { |c| [c.name, c.id] }, { include_blank: 'Seleccione una categoría' } %>

    <%= f.hidden_field :group_id, value: params[:group_id] %>

    <div class="field">
      <%= f.label :name, "Nombre de la actividad" %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :name, "Keywords"%><br />
      <%= f.text_field :keywords %>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%#= f.hidden_field :group_id, value: @activity.group_id%>


    <div class="field">
      <%= f.label :description, "Descripción" %><br />
      <%= f.text_field :description %>
    </div>

    <div class="field">
        <%= f.label :date, "Fecha" %><br />
        <%= f.datetime_field :date %>
    </div>

    <div class="field">
        <%= f.label :location, "Ubicación" %><br />
        <%= f.text_field :location %>
    </div>

    <div class="field">
        <%= f.label :people, "Personas" %><br />
        <%= f.number_field :people, min: 1%>
    </div>

    <div class="field">
        <%= f.label :cost, "Costo" %><br />
        <%= f.number_field :cost, min: 0%>
    </div>


    <div class="actions">
      <%= f.submit "Crear actividad" %>
    </div>
    
<% end %>

