<%#<h1>Activity#new</h1>
<p>Find me in app/views/activity/new.html.erb</p> %>

<div class="new-groups">
<h1>Crear Actividad</h1>

<%# code from https://stackoverflow.com/a/52470594 #%>
<% flash.each do |name, messages| %>
  <div class="alert alert-<%= name %>">
    <ul>
    <% if messages.is_a?(Array) %>
      <% messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="fields">
<%= form_with(model: @activity, local: true, scope: :activity,  url: '/activity/') do |f| %>

    <%= f.hidden_field :group_id, value: params[:group_id] %>
    <div class="group-form">
      <div class="field">
        <%= f.label :name, "Nombre la actividad", class: "special-width-form6" %>
        <%= f.text_field :name, class: "special-width-form5" %>
      </div>
    </div>
    <small class="text-muted">
                Debe tener un de minimo de 5 caracteres y maximo de 50.
    </small>
    <div class="group-form">
      <div class="field">
        <%= f.label :pictures, "Fotos de la actividad", class: "special-width-form6" %>
        <%= f.file_field :pictures, multiple: true, class: "special-width-form5" %>
      </div>
    </div>

    <div class="group-form">
      <div class="field">
        <%= f.label :name, "Keywords", class: "special-width-form6"%>
        <%= f.text_field :keywords, class: "special-width-form5" %>
      </div>
    </div>
    <small class="text-muted">
                ej: "futbol deporte amigos"
    </small>

    <%# <%= f.hidden_field :user_id, value: current_user.id %>
    <%#= f.hidden_field :group_id, value: @activity.group_id%>

    <div class="group-form">
      <div class="field">
        <%= f.label :description, "Descripción", class: "special-width-form6 " %>
        <%= f.text_area :description, class: "special-width-form5 taller-form", placeholder: " Escribe sobre tu grupo y qué lo hace especial"%>
      </div>
    </div>
    <small class="text-muted">
                Debe tener un de minimo de 5 caracteres y máximo de 100.
    </small>
    
    <div class="group-form">
      <div class="field">
          <%= f.label :date, "Fecha", class: "special-width-form6 " %>
          <%= f.datetime_field :date, class: "special-width-form5" %>
      </div>
    </div>

    <div class="group-form">
      <div class="field">
          <%= f.label :location, "Ubicación", class: "special-width-form6 " %>
          <%= f.text_field :location, class: "special-width-form5" %>
      </div>
    </div>
    <small class="text-muted">
                ej: Av. Vickuña Mackena 7890
    </small>

    <div class="group-form">
      <div class="field">
          <%= f.label :people, "Personas", class: "special-width-form6 " %>
          <%= f.number_field :people, min: 1, class: "special-width-form5"%>
      </div>
    </div>

    <div class="group-form">
      <div class="field">
          <%= f.label :cost, "Precio", class: "special-width-form6 "%>
          <%= f.number_field :cost, min: 0, class: "special-width-form5"%>
      </div>
    </div>


    <div class="actions">
      <%= f.submit "Crear actividad" %>
    </div>
    
<% end %>

</div>