
<div class="check-requests">
  <% flash.each do |name, messages| %>
    <div class="alert" >
      <ul>
        <% if messages.is_a?(Array) %>
          <% messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card" style="width: 100%;">
    <div class="group-reviews">
      <div class="card-body">
        <h2 class="card-title">Mis solicitudes</h2>
        <div class="container">
          <ul class="list-group d-flex">
            <% request_user = @requests.where(user_id: current_user.id).order(status: :asc) %>
            <% request_user.each do |request| %>
              <% if request.status == "pending" %>
                <a href=<%= request_path(request) %> class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div class="d-flex flex-column align-items-start">
                    <small class="small-font">Solicitaste unirte a: <%= Group.find(request.group_id).name %></small>
                    <span class="badge text-bg-warning ml-auto">Pendiente</span>
                    <small class="text-muted">Hace <%= time_ago_in_words(request.created_at) %></small>
                  </div>
                </a>
              <% elsif request.status == "accepted" %>
                <a href=<%= request_path(request) %> class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div class="d-flex flex-column align-items-start">
                    <small class="small-font"><%= Group.find(request.group_id).name %></small>
                    <span class="badge text-bg-success ml-auto">Aceptado</span>
                    <small class="text-muted">Hace <%= time_ago_in_words(request.created_at) %></small>
                  </div>
                </a>
              <% elsif request.status == "rejected" %>
                <a href=<%= request_path(request) %> class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div class="d-flex flex-column align-items-start">
                    <small class="small-font"><%= Group.find(request.group_id).name %></small>
                    <span class="badge text-bg-danger ml-auto">Rechazado</span>
                    <small class="text-muted">Hace <%= time_ago_in_words(request.created_at) %></small>
                  </div>
                </a>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card" style="width: 100%;">
    <div class="group-reviews">
      <div class="card-body">
        <h2 class="card-title">Solicitudes de mis grupos</h2>
        <div class="container">
          <ul class="list-group d-flex">
            <% groups_user = Group.where(user_id: current_user.id).pluck(:id) %>
            <% requests_groups_user = Request.where(group_id: groups_user) %>
            <% requests_groups_user.each do |request| %>
              <% if request.status == "pending" %>
                <a href=<%= request_path(request) %> class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div class="d-flex flex-column align-items-start">
                    <small class="small-font">Solicitaste unirte a: <%= Group.find(request.group_id).name %></small>
                    <span class="badge text-bg-warning ml-auto">Pendiente</span>
                    <small class="text-muted">Hace <%= time_ago_in_words(request.created_at) %></small>
                  </div>
                </a>
              <% elsif request.status == "accepted" %>
                <a href=<%= request_path(request) %> class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div class="d-flex flex-column align-items-start">
                    <small class="small-font"><%= Group.find(request.group_id).name %></small>
                    <span class="badge text-bg-success ml-auto">Aceptado</span>
                    <small class="text-muted">Hace <%= time_ago_in_words(request.created_at) %></small>
                  </div>
                </a>
              <% elsif request.status == "rejected" %>
                <a href=<%= request_path(request) %> class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div class="d-flex flex-column align-items-start">
                    <small class="small-font"><%= Group.find(request.group_id).name %></small>
                    <span class="badge text-bg-danger ml-auto">Rechazado</span>
                    <small class="text-muted">Hace <%= time_ago_in_words(request.created_at) %></small>
                  </div>
                </a>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>